@(title: String)(factories: utilities.FactoryRegister.type)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <ul>
        @for((dsf, index) <- factories.dataSourceFactories.zipWithIndex) {
            <li><a href="dataSourceFactory/@index">@dsf.name()</a>, @dsf.description()</li>
        }
        @for((tmf, index) <- factories.topicModelFactories.zipWithIndex) {
            <li><a href="topicModelFactory/@index">@tmf.name()</a>, @tmf.description()</li>
        }
        </ul>
    </body>
</html>
